*.bash			diff ident
*.c			diff ident
*.cfg			diff ident
*.cmd			diff ident
*.ent			diff ident
*.flex			diff ident
*.gradle		diff ident
*.groovy		diff ident
*.html			diff ident
*.init			diff ident
*.inter			diff ident
*.isql			diff ident
*.java			diff ident
*.nsql			diff ident
*.php			diff ident
*.pl			diff ident
*.plist			diff ident
*.properties		diff ident
*.py			diff ident
*.rc			diff ident
*.service		diff ident
*.sql			diff ident
*.txt			diff ident
*.xhtml			diff ident
*.xml			diff ident
*.xsl			diff ident
/build/gradle-gui	diff ident
